#Configuration file for F+H2 in hyperspherical coordinates

#Info for running molpro
[molInfo]
scrdir = /tmp/adtprogram
memory = 10,m

#for parallel molpro job
processor = 2

#Info of the molecular species
[sysInfo]
type = scat_hyper

#Info for energy calculation
[eInfo]
method = mrci
basis  = aug-cc-pvtz
cas    = occ,10;closed,2;core,2
electron = 11
spin = 1
charge = 0
state  = 3

#defining extra keyword required to run molpro for this system
#format should be same as in MOLPRO
scale = 25.0,90.0,175.4
multi_extra = maxiter,40
mrci_extra  = maxiter,200,200;


#Info for NACT calculation
#method should be either ddr or cpmcscf 
[nInfo]
method = cpmcscf
basis  = 6-311++G**

#Put grid in format of <start>, <end>, <step>
#for scattering put theta, phi as the 2d grid, with a given
#fixed value for rho
[gInfo]
rho   = 5.0
theta = 0, 90,5
phi   = 0, 360, 4


