#Configuration file for H3+ in hyperspherical coordinates

#Info for running molpro
[molInfo]
scrdir = /tmp/adtprogram
memory = 10,m
processor = 2

#Info of the molecular species
[sysInfo]
type = scat_hyper
symmetry = x

#Info for energy calculation
[eInfo]
method = mrci
basis  = cc-pv5z
cas    = occ,10,1
#wf     = 2,1,0,1;
state  = 3,2
electron = 2
spin = 0
charge = 1
#scale = 0.0



#defining extra keyword required to run molpro for this system
#format should be same as in MOLPRO
restricted = true
uhf_extra = wf,2,1,0,1;
multi_extra = maxiter,40;ACCURACY,GRADIENT=1.d-4,ENERGY=1.d-6,STEP=1.d-2

#Info for NACT calculation
#method should be either ddr or cpmcscf 
[nInfo]
method = cpmcscf
basis  = {spd,h,cc-pv5z}




#Put grid in format of <start>, <end>, <step>
#for scattering put theta, phi as the 2d grid, with a given
#fixed value for rho
[gInfo]
rho   = 4.5
theta = 0, 9,3
phi = 0, 30, 3

# following options are only required for ddr nact calculation
drho = 0.01
dtheta = 0.03
dphi = 0.03
