***,F+H2 
! $F$ : basename to be substituted
! $R$ : record name
! $S$ : starting record name if it is available
file,2,$F$.wfu
punch,$F$.pun

basis=6-311++G**

symmetry,x

geometry=$F$.xyz

{mcscf;occ,9,2;closed,1,0;wf,11,1,1;state,2;maxiter,40;
start,$S$;orbital,$R$;
cpmcscf,nacm,1.1,2.1,record=5101.1;}

force;nacm,5101.1;varsav
table,gradx,grady,gradz;
save,$F$.res
title 'results for 1-2: Analytic Nacts ---  $F$'

