#Configuration file for the MOLPRO job of NO3

#Info for running molpro
[molInfo]
scrdir = /tmp/adtprogram
memory = 10,m

#for parallel molpro job
processor = 2

#Info of the molecular species
[sysInfo]
type = spec

#If symmetry is not specified, by default it will take `nosym'
#symmetry = x,y

#Info for energy calculation
[eInfo]
method = multi
basis  = 6-31G**
cas    = occ,19;closed,11
electron  = 31
spin   = 1
charge = 0
state  = 5

# defining extra keyword required to run molpro for this system
# format should be same as in MOLPRO
uhf_extra = accu,5
multi_extra = maxiter,40

#defining scaling geometry for the adiabatic PESs
scale = 0.0,0.0

#Info for NACT calculation
[nInfo]
method = cpmcscf
basis  = 6-31G**
nact_extra = accu=1.d-10

#Info for varying modes
#put the indexes of the normal modes that will be varying
#The following two numbers represent the lowest frequency 
#modes, but actually they are Q_4x and Q_4y normal modes 
#(degenerate asymmetric bending modes)
[mInfo]
varying = 1,2


#Put grid in format of <start>, <end>, <step>
##for spectroscopic put the 2D grid as rho and phi
[gInfo]
rho   = 0.1, 0.3, 0.1
phi = 0, 360, 3
#Qx = rho*cos(phi) and Qy = rho*sin(phi)

