#Configuration file to parsed by the ADT program for running the molpro

#Info for energy calculation
[eInfo]
method = multi
basis  = 6-31G**
cas    = occ,19;closed,11
wf     = 31,1,1,0
state  = 5


#Info for NACT calculation
[nInfo]
method = analytical
basis  = 6-31G**




#Info for varying modes, put the indexes of the modes that will be varying
[mInfo]
varying = 5,6


[gInfo]

