#Configuration file to parsed by the ADT program for running the molpro
#for NO3
#Info for running molpro
[molInfo]
scrdir = /tmp/adtprogram
memory = 10,m
#for parallel molpro job
processor = 2

#Info for energy calculation
[eInfo]
method = mrci
basis  = cc-pvdz
cas    = occ,19;closed,11;core,11
wf     = 31,1,1,0
state  = 5


#Info for NACT calculation
[nInfo]
method = cpmcscf
basis  = 6-31G**




#Info for varying modes, put the indexes of the modes that will be varying
# will be ignored in case of scattering calculation
[mInfo]
varying = 5,6


[gInfo]
# NOTE: 
# Put grid in format of <start>, <end>, <step>
# for spectroscopic put the 2D grid as rho, phi, theta will be igonred 
# for scattering put theta, phi as the 2d grid, with a given fixed value for rho 
rho   = .1, 2, .1
phi = 0, 360, 3

# following options are only required for ddr nact calculation
# will be ignored in case of analytical calculation
dr = 0.005
dp = 0.5