#Configuration file for H3+ in Jacobi coordinates

#Info for running molpro
[molInfo]
scrdir = /tmp/adtprogram
memory = 10,m

#for parallel molpro job
processor = 2

#Info of the molecular species
[sysInfo]
type = scat_jacobi
symmetry = x

#Info for energy calculation
[eInfo]
method = mrci
basis  = cc-pv5z
cas    = occ,10,1;closed,0,0;
electron = 2
spin = 0
charge = 1
state  = 3,0

#Here scaling of PECs is not necessary as Jacobi coordinate is used
#only for locating the conical intersections (CIs)
#scale = 1.4,10.0,90.0


#defining extra keyword required to run molpro for this system 
#format should be same as in MOLPRO
restricted = true
uhf_extra = wf,2,1,0,1;
multi_extra = maxiter,40

#Info for NACT calculation
#method should be either ddr or cpmcscf 
[nInfo]
method = cpmcscf
basis  = 6-311++G**

#Put grid in format of <start>, <end>, <step>
#put a fixed value of small_r, capital_r, gamma and q
#and provide a 2D grid of phi 
[gInfo]
small_r = 2.0
capital_r = 1.732050808
gamma = 90
#q must be smaller than capital_r
q = 0.5
#Put grid in format of <start>, <end>, <step>
phi = 0, 360,3

