#Configuration file to parsed by the ADT program for running the molpro
#for NO2
#Info for running molpro
[molInfo]
scrdir = /tmp/adtprogram
memory = 10,m
#for parallel molpro job
processor = 1
[sysInfo]
type=spec
symmetry=x


#Info for energy calculation
[eInfo]
method = multi
basis  = 6-31G*
cas    = occ,11,2;closed,3,0;core,3,0
wf     = 23,1,1,0
state  = 3,2
electron = 23
spin=1
charge=0
scale = 0,0

#Info for NACT calculation
#method should be either ddr or cpmcscf for ddr and analytic respectively
[nInfo]
method = cpmcscf
basis  = 6-31G*


#Info for varying modes, put the indexes of the modes that will be varying
# will be ignored in case of scattering calculation
[mInfo]
varying = 2,3


[gInfo]
# NOTE: 
# Put grid in format of <start>, <end>, <step>
# for spectroscopic put the 2D grid as rho, phi, theta will be igonred 
# for scattering put theta, phi as the 2d grid, with a given fixed value for rho 
rho   = 1.2,1.3,0.1
phi = 0.0,6.0,3.0


dr = 0.01
dp = 0.3
