#Configuration file to parsed by the ADT program for running the molpro
#for C6H3F3+
#Info for running molpro
[molInfo]
scrdir = /tmp/adtprogram
memory = 100,m
#for parallel molpro job
processor = 2


#Info for energy calculation
[eInfo]
method = multi
basis  = cc-pvdz
cas    = occ,36;closed,27
wf     = 65,1,1,1
state  = 6


#Info for NACT calculation
#method should be either ddr or cpmcscf for ddr and analytic respectively
[nInfo]
method = cpmcscf
basis  = 6-31G**


#Info for varying modes, put the indexes of the modes that will be varying
# will be ignored in case of scattering calculation
[mInfo]
varying = 16,17


[gInfo]
# NOTE: 
# Put grid in format of<start>,    <end>,        <step>
# for spectroscopic put the 2D grid as rho, phi, theta will be igonred 
# for scattering put theta, phi as the 2d grid, with a given fixed value for rho 
rho   = .1, 1, .1
phi = 0, 360, 3

# following options are only required for ddr nact calculation
# will be ignored in case of analytical calculation
dr = 0.01
dt = 0.01
dp = 0.02
