#Configuration file for the MOLPRO job of NO2

#Info for running molpro
[molInfo]
scrdir = /tmp/adtprogram
memory = 10,m

#for parallel molpro job
processor = 2

#Info of the molecular species
[sysInfo]
type = spec
symmetry = x

#Info for energy calculation
[eInfo]
method = mcscf
basis  = {spdf,n,cc-pvtz;spdf,o,cc-pvtz}
cas    = occ,11,3;closed,3,0
electron  = 23
spin   = 1
charge = 0
state  = 2,0

# defining extra keyword required to run molpro for this system
# format should be same as in MOLPRO
multi_extra = maxiter,40

#defining scaling geometry for the adiabatic PESs
scale = 0.0,0.0

#Info for NACT calculation
[nInfo]
method = cpmcscf
basis  = {spdf,n,cc-pvtz;spdf,o,cc-pvtz}

#Info for varying modes
#put the indexes of the normal modes that will be varying
[mInfo]
varying = 1,3


#Put grid in format of <start>, <end>, <step>
##for spectroscopic put the 2D grid as rho and phi
[gInfo]
rho   = 0.2, 12.0, 0.2
phi = 0, 360, 1
#Qx = rho*cos(phi) and Qy = rho*sin(phi)

